<div class="simulation-cards" *ngIf="!subject || subject == ''">
    <div class="simulation-card" (click)="onClickSimulation(item)" *ngFor="let item of simulationItems;">
        <img src='{{ "assets/simulation-images/" + item.img_src }}' width="200px" height="100px">
        <span>{{item.name}}</span>
    </div>
</div>
<div class="simulation-container" *ngIf="subject && subject != ''">
    <h3 class="heading-margin-popular-courses">Physics</h3>
    <div class="simulation-cards">
        <div class="simulation-card" (click)="onClickSimulation(item)" *ngFor="let item of simulationItems;">
            <img src='{{ "assets/simulation-images/" + item.img_src }}' width="200px" height="100px">
            <span>{{item.name}}</span>
        </div>
    </div>
</div>