<div class="home-container">
    <div class="subject-container">
        <h3>Choose Subject</h3>
        <div class="subject-cards">
            <div class="subject-card" (click)="onClickOnSubj(item.type)" *ngFor="let item of subjects">
                <img [src]="item.img" height="60px" width="60px">
                <span>{{item.value}}</span>
            </div>
        </div>
    </div>
    <div class="simulations-subjects-container">
        <h3 class="heading-margin-popular-courses">Explore Simulations</h3>
        <div class="subject-container" *ngIf="physicsItems?.length>0">
            <h3 class="heading-margin">Physics</h3>
            <app-simulations [simulationItems]="physicsItems"></app-simulations>
        </div>

        <div class="subject-container" *ngIf="chemistryItems?.length>0">
            <h3 class="heading-margin">Chemistry</h3>
            <app-simulations [simulationItems]="chemistryItems"></app-simulations>
        </div>

        <div class="subject-container" *ngIf="mathsItems?.length>0">
            <h3 class="heading-margin">Mathematics</h3>
            <app-simulations [simulationItems]="mathsItems"></app-simulations>
        </div>

        <div class="subject-container" *ngIf="biologyItems?.length>0">
            <h3 class="heading-margin">Biology</h3>
            <app-simulations [simulationItems]="biologyItems"></app-simulations>
        </div>
    </div>
</div>